{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Don Broaster</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="{% static 'logo_don_broaster.png' %}" alt="Logo de Don Broaster" class="logo-principal">
            
            <h1 class="nombre-empresa">Don Broaster</h1>
        </div>
        
        <p>El sabor que te enamora</p>
        
        <p><a href="{% url 'carrito' %}" class="btn-ver-carrito">Ver Carrito</a></p>
    </header>
    
    <main id="productos-container">
        <p>Cargando el menú...</p>
    </main>
    
    <footer>
        <p>&copy; 2025 Don Broaster. Todos los derechos reservados.</p>
        <p class="desarrollo">Desarrollado por Ingeniería Trejos</p>
    </footer>
    
    <script src="{% static 'script.js' %}"></script>

</body>
</html>